html, body{
color:#000;
font-size:14px;
font-family: 'Open Sans Condensed', Verdana;
margin:0 auto;
background-color:#FF9900;
}

a{
	text-decoration: none;
}
/*************************************************************
	BUSQUEDA DE CLIENTES
*************************************************************/
.SHOW{		
	padding:10px;		
	margin-top:10px;
	border-radius:5px;	
	display:none;
}
.SHOW input{
	padding:2%;
	width:94%;
	margin:0;
	border:1% solid #e5e5e5;
	outline: none;
}
.list_clients{
	font-family: Tahoma;
	font-size:12px;
  	padding:5px;
   	background-color:#fafafa;
   	border:1px solid #e5e5e5;
   	display:block;
   	color:#000;
   	text-decoration:none;
} 
.list_clients:hover{
  	background-color:#000;
   	color:#FFF;
}
.list_clients h3{
  	font-size:10px;
   	margin:0px;
   	padding:0px;
   	font-weight: none;    	
}
.list_clients .img{
   	width:28px;
   	height:28px;
   	margin-right:10px;   
   	float:left;
   	
} 
.img img{
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
/*************************************************************/
#content{
	margin:  0 auto;
	margin-top: 10px;
	background-color: #FFF;
	width: 300px;
	padding: 10px;
	padding-top: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	}

.data{
	float: left;
	font-weight: bold;
	text-align: center;
}

.stats{
	padding: 2px;
	background-color: #e5e5e5;
	border: 1px solid #CCC;
	font-size: 9px;
	margin: 2px 0;
	border-radius: 3px;
}
.bar{
	float: left;
	padding: 1px 0;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
}
.total{
	text-align: right;
	padding-top: 10px;
	font-weight: bolder;
	font-size: 18px;
}
.capsule{
	padding: 5px 0;
	border-bottom: 1px solid #f1f1f1;
}

.col_3{
	float:left;
	width:33%;
	
}
/**********************************************/

/**********************************************/
#canvas-holder{
				width:58px;
				float:left;
				margin: 2px 0px;
				margin-left:2px;
			}
/**********************************************/

/**********************************************/
.circlestat, .circlestat1, .circlestat2, .circlestat3,.circlestat4{
	float:left;
	margin: 2px 2px;
}
.circliful {
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    margin-top:0px;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
/**********************************************/

/**********************************************/
.hidden_field{
	background-color:#F9f9f9;
	border:1px solid #BBB;
	padding:5px;
	border-radius:5px;
	display:none;
	margin:5px;
	
}
.hidden_field input{
	width:80px;
	padding:5px;
	font-size: 12px;
	border-radius:5px;
	border:1px solid #CCC;
}

.hidden_field input[type="submit"]{
	width:100%;
	font-size:10px;
}



.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}